--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Contexts_contextualdata; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."Contexts_contextualdata" (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    device_type character varying(25) NOT NULL,
    season character varying(15) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public."Contexts_contextualdata" OWNER TO "Admin";

--
-- Name: Contexts_contextualdata_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."Contexts_contextualdata" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Contexts_contextualdata_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: History_browsing_history; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."History_browsing_history" (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    interaction_type character varying(10) NOT NULL,
    product_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public."History_browsing_history" OWNER TO "Admin";

--
-- Name: History_browsing_history_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."History_browsing_history" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."History_browsing_history_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: History_purchase_history; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."History_purchase_history" (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public."History_purchase_history" OWNER TO "Admin";

--
-- Name: History_purchase_history_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."History_purchase_history" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."History_purchase_history_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Image_Analysis_imageanalysisresult; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."Image_Analysis_imageanalysisresult" (
    id bigint NOT NULL,
    upload_path character varying(100) NOT NULL,
    detected_issues character varying(30)[] NOT NULL,
    confidence_scores jsonb NOT NULL,
    analyzed_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public."Image_Analysis_imageanalysisresult" OWNER TO "Admin";

--
-- Name: Image_Analysis_imageanalysisresult_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."Image_Analysis_imageanalysisresult" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Image_Analysis_imageanalysisresult_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Products_product; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."Products_product" (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    brand character varying(255) NOT NULL,
    price numeric(8,2) NOT NULL,
    category character varying(30) NOT NULL,
    compatible_skin_types character varying(30)[] NOT NULL,
    concerns_targeted character varying(30)[] NOT NULL,
    ingredients character varying(30)[] NOT NULL,
    image_url character varying(255),
    tags character varying(50)[],
    description character varying(1000),
    ratings double precision[] NOT NULL,
    rating_avg double precision NOT NULL
);


ALTER TABLE public."Products_product" OWNER TO "Admin";

--
-- Name: Products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."Products_product" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Products_product_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Quizzes_question; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."Quizzes_question" (
    id bigint NOT NULL,
    question character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    options character varying(100)[],
    "order" integer NOT NULL,
    CONSTRAINT "Quizzes_question_order_check" CHECK (("order" >= 0))
);


ALTER TABLE public."Quizzes_question" OWNER TO "Admin";

--
-- Name: Quizzes_question_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."Quizzes_question" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Quizzes_question_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Quizzes_quizresults; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."Quizzes_quizresults" (
    id bigint NOT NULL,
    skin_type character varying(50) NOT NULL,
    concerns character varying(30)[] NOT NULL,
    preferences character varying(30)[] NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    age character varying(50) NOT NULL,
    lifestyle character varying(50) NOT NULL,
    skin_image character varying(100),
    budget character varying(20) NOT NULL,
    dryness integer NOT NULL,
    eye_concern character varying(50),
    CONSTRAINT "Quizzes_quizresults_dryness_check" CHECK ((dryness >= 0))
);


ALTER TABLE public."Quizzes_quizresults" OWNER TO "Admin";

--
-- Name: Quizzes_quizresults_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."Quizzes_quizresults" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Quizzes_quizresults_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Routines_routineplan; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."Routines_routineplan" (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    steps jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public."Routines_routineplan" OWNER TO "Admin";

--
-- Name: Routines_routineplan_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."Routines_routineplan" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Routines_routineplan_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Routines_routinestep; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."Routines_routinestep" (
    id bigint NOT NULL,
    "order" integer NOT NULL,
    description text NOT NULL,
    product_id bigint,
    routine_plan_id bigint NOT NULL,
    product_name character varying(255),
    CONSTRAINT "Routines_routinestep_order_check" CHECK (("order" >= 0))
);


ALTER TABLE public."Routines_routinestep" OWNER TO "Admin";

--
-- Name: Routines_routinestep_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."Routines_routinestep" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Routines_routinestep_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Users_cart; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."Users_cart" (
    id bigint NOT NULL,
    user_id integer
);


ALTER TABLE public."Users_cart" OWNER TO "Admin";

--
-- Name: Users_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."Users_cart" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Users_cart_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Users_cartitem; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."Users_cartitem" (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT "Users_cartitem_quantity_check" CHECK ((quantity >= 0))
);


ALTER TABLE public."Users_cartitem" OWNER TO "Admin";

--
-- Name: Users_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."Users_cartitem" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Users_cartitem_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Users_userprofile; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public."Users_userprofile" (
    id bigint NOT NULL,
    user_device character varying(25) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    skin_type character varying(30) NOT NULL,
    concerns character varying(30)[] NOT NULL,
    preferences character varying(30)[] NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public."Users_userprofile" OWNER TO "Admin";

--
-- Name: Users_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public."Users_userprofile" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Users_userprofile_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO "Admin";

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO "Admin";

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO "Admin";

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO "Admin";

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO "Admin";

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO "Admin";

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO "Admin";

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO "Admin";

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO "Admin";

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: Admin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: Admin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO "Admin";

--
-- Data for Name: Contexts_contextualdata; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public."Contexts_contextualdata" (id, "timestamp", device_type, season, user_id) FROM stdin;
\.


--
-- Data for Name: History_browsing_history; Type: TABLE DATA; Schema: public; Owner: Admin
--



--
-- Data for Name: History_purchase_history; Type: TABLE DATA; Schema: public; Owner: Admin
--



--
-- Data for Name: Image_Analysis_imageanalysisresult; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public."Image_Analysis_imageanalysisresult" (id, upload_path, detected_issues, confidence_scores, analyzed_at, user_id) FROM stdin;
\.


--
-- Data for Name: Products_product; Type: TABLE DATA; Schema: public; Owner: Admin
--



--
-- Data for Name: Quizzes_question; Type: TABLE DATA; Schema: public; Owner: Admin
--



--
-- Data for Name: Quizzes_quizresults; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public."Quizzes_quizresults" (id, skin_type, concerns, preferences, "timestamp", user_id, age, lifestyle, skin_image, budget, dryness, eye_concern) FROM stdin;
12	Combination	{Redness,"Dark Spots",Dullness}	{Cruelty-Free}	2025-09-12 16:27:38.083174+03:30	1	20 to 30	minimal		100$ to 250$	7	Fine Lines & Wrinkles
\.


--
-- Data for Name: Routines_routineplan; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public."Routines_routineplan" (id, name, steps, created_at, user_id) FROM stdin;
1	hydration	[]	2025-09-09 18:02:57.564035+03:30	1
2	full	[]	2025-09-12 14:08:51.319193+03:30	1
\.


--
-- Data for Name: Routines_routinestep; Type: TABLE DATA; Schema: public; Owner: Admin
--



--
-- Data for Name: Users_cart; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public."Users_cart" (id, user_id) FROM stdin;
2	1
\.


--
-- Data for Name: Users_cartitem; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public."Users_cartitem" (id, quantity, cart_id, product_id) FROM stdin;
\.


--
-- Data for Name: Users_userprofile; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public."Users_userprofile" (id, user_device, created_at, skin_type, concerns, preferences, user_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: Admin
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$600000$eD3keW2WZ8386aWhVJW9y7$QYjTNrfjp3tHVFLBJjGOnfA9GWrNC6mznQZTFrn5sM4=	2025-09-12 16:14:59.566623+03:30	t	Admin				t	t	2025-07-03 20:23:57.29063+03:30
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: Admin
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: Admin
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	Users	userprofile
8	Products	product
9	History	browsing_history
10	History	purchase_history
11	Quizzes	quizresults
12	Routines	routineplan
13	Contexts	contextualdata
14	Image_Analysis	imageanalysisresult
15	Users	cart
16	Users	cartitem
17	Quizzes	question
18	Routines	routinestep
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: Admin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: Admin
--



--
-- Name: Contexts_contextualdata_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."Contexts_contextualdata_id_seq"', 1, false);


--
-- Name: History_browsing_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."History_browsing_history_id_seq"', 1271, true);


--
-- Name: History_purchase_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."History_purchase_history_id_seq"', 13, true);


--
-- Name: Image_Analysis_imageanalysisresult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."Image_Analysis_imageanalysisresult_id_seq"', 1, false);


--
-- Name: Products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."Products_product_id_seq"', 3, true);


--
-- Name: Quizzes_question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."Quizzes_question_id_seq"', 2, true);


--
-- Name: Quizzes_quizresults_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."Quizzes_quizresults_id_seq"', 12, true);


--
-- Name: Routines_routineplan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."Routines_routineplan_id_seq"', 2, true);


--
-- Name: Routines_routinestep_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."Routines_routinestep_id_seq"', 285, true);


--
-- Name: Users_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."Users_cart_id_seq"', 2, true);


--
-- Name: Users_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."Users_cartitem_id_seq"', 24, true);


--
-- Name: Users_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public."Users_userprofile_id_seq"', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 3, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 25, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Admin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 56, true);


--
-- Name: Contexts_contextualdata Contexts_contextualdata_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Contexts_contextualdata"
    ADD CONSTRAINT "Contexts_contextualdata_pkey" PRIMARY KEY (id);


--
-- Name: History_browsing_history History_browsing_history_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."History_browsing_history"
    ADD CONSTRAINT "History_browsing_history_pkey" PRIMARY KEY (id);


--
-- Name: History_purchase_history History_purchase_history_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."History_purchase_history"
    ADD CONSTRAINT "History_purchase_history_pkey" PRIMARY KEY (id);


--
-- Name: Image_Analysis_imageanalysisresult Image_Analysis_imageanalysisresult_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Image_Analysis_imageanalysisresult"
    ADD CONSTRAINT "Image_Analysis_imageanalysisresult_pkey" PRIMARY KEY (id);


--
-- Name: Products_product Products_product_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Products_product"
    ADD CONSTRAINT "Products_product_pkey" PRIMARY KEY (id);


--
-- Name: Quizzes_question Quizzes_question_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Quizzes_question"
    ADD CONSTRAINT "Quizzes_question_pkey" PRIMARY KEY (id);


--
-- Name: Quizzes_quizresults Quizzes_quizresults_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Quizzes_quizresults"
    ADD CONSTRAINT "Quizzes_quizresults_pkey" PRIMARY KEY (id);


--
-- Name: Routines_routineplan Routines_routineplan_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Routines_routineplan"
    ADD CONSTRAINT "Routines_routineplan_pkey" PRIMARY KEY (id);


--
-- Name: Routines_routinestep Routines_routinestep_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Routines_routinestep"
    ADD CONSTRAINT "Routines_routinestep_pkey" PRIMARY KEY (id);


--
-- Name: Users_cart Users_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Users_cart"
    ADD CONSTRAINT "Users_cart_pkey" PRIMARY KEY (id);


--
-- Name: Users_cart Users_cart_user_id_key; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Users_cart"
    ADD CONSTRAINT "Users_cart_user_id_key" UNIQUE (user_id);


--
-- Name: Users_cartitem Users_cartitem_cart_id_product_id_4a12002a_uniq; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Users_cartitem"
    ADD CONSTRAINT "Users_cartitem_cart_id_product_id_4a12002a_uniq" UNIQUE (cart_id, product_id);


--
-- Name: Users_cartitem Users_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Users_cartitem"
    ADD CONSTRAINT "Users_cartitem_pkey" PRIMARY KEY (id);


--
-- Name: Users_userprofile Users_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Users_userprofile"
    ADD CONSTRAINT "Users_userprofile_pkey" PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: Contexts_contextualdata_user_id_4d1cdc24; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "Contexts_contextualdata_user_id_4d1cdc24" ON public."Contexts_contextualdata" USING btree (user_id);


--
-- Name: History_browsing_history_product_id_6250fbd0; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "History_browsing_history_product_id_6250fbd0" ON public."History_browsing_history" USING btree (product_id);


--
-- Name: History_browsing_history_user_id_b4989fd7; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "History_browsing_history_user_id_b4989fd7" ON public."History_browsing_history" USING btree (user_id);


--
-- Name: History_purchase_history_product_id_4120dd8f; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "History_purchase_history_product_id_4120dd8f" ON public."History_purchase_history" USING btree (product_id);


--
-- Name: History_purchase_history_user_id_bcac218a; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "History_purchase_history_user_id_bcac218a" ON public."History_purchase_history" USING btree (user_id);


--
-- Name: Image_Analysis_imageanalysisresult_user_id_dcfba7bf; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "Image_Analysis_imageanalysisresult_user_id_dcfba7bf" ON public."Image_Analysis_imageanalysisresult" USING btree (user_id);


--
-- Name: Quizzes_quizresults_user_id_cab91cdd; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "Quizzes_quizresults_user_id_cab91cdd" ON public."Quizzes_quizresults" USING btree (user_id);


--
-- Name: Routines_routineplan_user_id_abe92477; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "Routines_routineplan_user_id_abe92477" ON public."Routines_routineplan" USING btree (user_id);


--
-- Name: Routines_routinestep_product_id_2ce7246c; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "Routines_routinestep_product_id_2ce7246c" ON public."Routines_routinestep" USING btree (product_id);


--
-- Name: Routines_routinestep_routine_plan_id_fdba9ef9; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "Routines_routinestep_routine_plan_id_fdba9ef9" ON public."Routines_routinestep" USING btree (routine_plan_id);


--
-- Name: Users_cartitem_cart_id_f60c4989; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "Users_cartitem_cart_id_f60c4989" ON public."Users_cartitem" USING btree (cart_id);


--
-- Name: Users_cartitem_product_id_a714b6ff; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "Users_cartitem_product_id_a714b6ff" ON public."Users_cartitem" USING btree (product_id);


--
-- Name: Users_userprofile_user_id_3d507631; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX "Users_userprofile_user_id_3d507631" ON public."Users_userprofile" USING btree (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: Admin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: Contexts_contextualdata Contexts_contextualdata_user_id_4d1cdc24_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Contexts_contextualdata"
    ADD CONSTRAINT "Contexts_contextualdata_user_id_4d1cdc24_fk_auth_user_id" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: History_browsing_history History_browsing_his_product_id_6250fbd0_fk_Products_; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."History_browsing_history"
    ADD CONSTRAINT "History_browsing_his_product_id_6250fbd0_fk_Products_" FOREIGN KEY (product_id) REFERENCES public."Products_product"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: History_browsing_history History_browsing_history_user_id_b4989fd7_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."History_browsing_history"
    ADD CONSTRAINT "History_browsing_history_user_id_b4989fd7_fk_auth_user_id" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: History_purchase_history History_purchase_his_product_id_4120dd8f_fk_Products_; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."History_purchase_history"
    ADD CONSTRAINT "History_purchase_his_product_id_4120dd8f_fk_Products_" FOREIGN KEY (product_id) REFERENCES public."Products_product"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: History_purchase_history History_purchase_history_user_id_bcac218a_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."History_purchase_history"
    ADD CONSTRAINT "History_purchase_history_user_id_bcac218a_fk_auth_user_id" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Image_Analysis_imageanalysisresult Image_Analysis_image_user_id_dcfba7bf_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Image_Analysis_imageanalysisresult"
    ADD CONSTRAINT "Image_Analysis_image_user_id_dcfba7bf_fk_auth_user" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Quizzes_quizresults Quizzes_quizresults_user_id_cab91cdd_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Quizzes_quizresults"
    ADD CONSTRAINT "Quizzes_quizresults_user_id_cab91cdd_fk_auth_user_id" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Routines_routineplan Routines_routineplan_user_id_abe92477_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Routines_routineplan"
    ADD CONSTRAINT "Routines_routineplan_user_id_abe92477_fk_auth_user_id" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Routines_routinestep Routines_routinestep_product_id_2ce7246c_fk_Products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Routines_routinestep"
    ADD CONSTRAINT "Routines_routinestep_product_id_2ce7246c_fk_Products_product_id" FOREIGN KEY (product_id) REFERENCES public."Products_product"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Routines_routinestep Routines_routinestep_routine_plan_id_fdba9ef9_fk_Routines_; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Routines_routinestep"
    ADD CONSTRAINT "Routines_routinestep_routine_plan_id_fdba9ef9_fk_Routines_" FOREIGN KEY (routine_plan_id) REFERENCES public."Routines_routineplan"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Users_cart Users_cart_user_id_a6bdc6b1_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Users_cart"
    ADD CONSTRAINT "Users_cart_user_id_a6bdc6b1_fk_auth_user_id" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Users_cartitem Users_cartitem_cart_id_f60c4989_fk_Users_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Users_cartitem"
    ADD CONSTRAINT "Users_cartitem_cart_id_f60c4989_fk_Users_cart_id" FOREIGN KEY (cart_id) REFERENCES public."Users_cart"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Users_cartitem Users_cartitem_product_id_a714b6ff_fk_Products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Users_cartitem"
    ADD CONSTRAINT "Users_cartitem_product_id_a714b6ff_fk_Products_product_id" FOREIGN KEY (product_id) REFERENCES public."Products_product"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Users_userprofile Users_userprofile_user_id_3d507631_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public."Users_userprofile"
    ADD CONSTRAINT "Users_userprofile_user_id_3d507631_fk_auth_user_id" FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: Admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

